@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Poppins';
		src: url('../fonts/Poppins.ttf');
		font-weight: 700;
	}

	@font-face {
		font-family: 'Geist';
		src: url('../fonts/Geist.woff2');
		font-weight: 400, 500, 600, 700;
	}
}

@layer components {
	.image-container {
		@apply w-60 h-96 rounded-lg overflow-hidden shadow;
	}

	.poster {
		@apply w-60 h-96 object-cover rounded-lg hover:scale-105 duration-300;
	}

	.movie-container {
		@apply flex flex-col items-center justify-center;
	}

	.movie-heading {
		@apply text-lg font-semibold py-1 text-primary;
	}
}
